{% load i18n %}
{% load permissions %}
{% load downloads %}

{% if subject == 'translation'  %}
    {% perm 'upload.perform' object as user_can_upload_translation %}
{% endif %}

<li>{% translation_download_link %}</li>

<li role="separator" class="divider"></li>

{% for exporter in exporters %}
    <li>{% translation_download_link %}</li>
{% endfor %}


{% if stats.todo %}
    <li role="separator" class="divider"></li>

    {% for exporter in exporters %}
        <li>{% translation_download_link todo=true %}</li>
    {% endfor %}
{% endif %}

<li role="separator" class="divider"></li>

<li><a href="#download" data-toggle="tab">{% trans "Customize download" %}</a></li>
{% if user_can_upload_translation %}

<li role="separator" class="divider"></li>

<li><a href="#upload" data-toggle="tab">{% trans "Upload translation" %}</a></li>
{% endif %}
